.accordian-item{
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.accordian-item:hover{
  border-left : 5px solid blueviolet;
  transition-duration: 0.5ms;
}
.accordian-opened{
  border-left : 5px solid orangered;
  transition-duration: 0.5ms;
}
.accordian-title{
  display: flex;
  justify-content: space-between;
}